# ## (c) 2004-2023  Cybionet - Integration & Securite Systeme
# ## Change: November 08, 2023


# ############################################################################################
# ## ALLOW RULES (CUSTOM)

iptables -N ALLOWLIST
iptables -A INPUT -j ALLOWLIST
# ## Enter your allow rules here.
# ##
# ## Example:
# ##    ANY:    	iptables -A ALLOWLIST -s W.X.Y.Z/32 -j ALLOW
# ##    TCP:    	iptables -A ALLOWLIST -s W.X.Y.Z/32 -p tcp -m tcp -j ALLOW
# ##    UDP:    	iptables -A ALLOWLIST -s W.X.Y.Z/32 -p udp -m udp -j ALLOW
# ##    ICMP:		iptables -A ALLOWLIST -s W.X.Y.Z/32 -p icmp -j ALLOW
# ##    SINGLE PORT:    iptables -A ALLOWLIST -s W.X.Y.Z/32 -p tcp -m tcp --dport 21-j ALLOW
# ##    MULTI PORT:     iptables -A ALLOWLIST -s W.X.Y.Z/32 -p tcp -m tcp --dport 20,21 -j ALLOW
# ##    RANGE OF PORT:  iptables -A ALLOWLIST -s W.X.Y.Z/32 -p tcp -m tcp --dport 20:21 -j ALLOW


# ############################################################################################
# ## BAN RULES (CUSTOM)

iptables -N BANLIST
iptables -A INPUT -j BANLIST
# ## Enter your ban rules here.
# ## Use "REJECT" when you want the other end to know the port is unreachable. Usually, all rules for connections inside your LAN should use REJECT. 
# ## Use "DROP" for connections to hosts you don't want people to see. For the Internet, with the exception of ident on certain servers, connections from the Internet are usually DROP.
# ##
# ## Example: 
# ## 	ANY:	iptables -A BANLIST -s W.X.Y.Z/32 -j DROP
# ##	TCP:	iptables -A BANLIST -s W.X.Y.Z/32 -p tcp -m tcp -j DROP
# ##	UDP:	iptables -A BANLIST -s W.X.Y.Z/32 -p udp -m udp -j DROP
# ##   ICMP:	iptables -A BANLIST -s W.X.Y.Z/32 -p icmp -j DROP

